* {
  /*margin: 0;
    padding: 0;*/
  box-sizing: border-box;
  background: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
